
  <div class="row">
    <div class="col-md-12 mb-5">
      <div class="card h-100" *ngIf='post'>
        <div class="card-body">
          <h4 class="card-title">{{post.title}}</h4>
          <p class="card-text">{{post.body}}</p>
          <div class="d-flex float-right">
            <small class="text-muted">User: {{post.userId}}</small>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn btn-primary btn-sm mr-5" >Id: {{post.id}}</div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-secondary btn-sm" [routerLink]="['/']">Back</button>